<ul class="todo-list">
  <li
    class="todo-list__new-todo"
    [ngClass]="{
      borderBottom: filteredTodos.length > 0
    }"
  >
    <input
      i18n-placeholder="@@newTodoName"
      type="text"
      placeholder="new todo..."
      (keyup.enter)="addTodo()"
      [(ngModel)]="todoTitle"
    />
    <button mat-icon-button (click)="addTodo()">
      <mat-icon>add</mat-icon>
    </button>
  </li>
  <li *ngFor="let todo of filteredTodos" class="todo-list__item">
    <app-todo-item [todo]="todo"></app-todo-item>
  </li>
</ul>
