.todo-list {
  border-radius: 16px;
  border: 1px solid black;
  box-shadow: 0px 0px 24px;
  width: 100%;
  overflow: hidden;
}

.todo-list__item {
  border-bottom: 1px solid black;
}

.todo-list__item:last-child {
  border-bottom: none;
}
