<mat-spinner style="margin: auto" color="accent" *ngIf="isLoading"
  >loading...</mat-spinner
>

<div *ngIf="!isLoading">
  <ul
    class="todo-list"
    *ngIf="addInput || filteredAndSortedTodos.length > 0; else notFound"
    [@listAnimation]="filteredAndSortedTodos.length"
  >
    <li
      *ngIf="addInput"
      class="todo-list__new-todo"
      [ngClass]="{
        borderBottom: filteredAndSortedTodos.length > 0
      }"
    >
      <input
        i18n-placeholder="@@newTodoName"
        type="text"
        placeholder="new todo..."
        (keyup.enter)="addTodo()"
        [(ngModel)]="todoTitle"
        required
      />
      <button
        mat-icon-button
        (click)="addTodo()"
        [disabled]="!this.todoTitle.trim()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </li>
    <li *ngFor="let todo of filteredAndSortedTodos" class="todo-list__item">
      <app-todo-item [todo]="todo"></app-todo-item>
    </li>
  </ul>

  <ul
    class="todo-list"
    style="margin-top: 32px"
    *ngIf="restTodos.length > 0"
    [@listAnimation]="restTodos.length"
  >
    <li class="todo-list__item" *ngFor="let todo of restTodos">
      <app-todo-item [todo]="todo"></app-todo-item>
    </li>
  </ul>

  <ng-template #notFound>
    <div i18n="@@noTodos" style="text-align: center">No todos found.</div>
  </ng-template>
</div>
