<mat-spinner style="margin: auto" color="accent" *ngIf="isLoading"
  >loading...</mat-spinner
>

<div *ngIf="transformedTodos$ | async as todos">
  <ul
    class="todo-list"
    *ngIf="addInput || todos.length > 0; else notFound"
    [@listAnimation]="todos.length"
  >
    <li
      *ngIf="addInput"
      class="todo-list__new-todo"
      [ngClass]="{
        borderBottom: todos.length > 0
      }"
    >
      <input
        i18n-placeholder="@@newTodoName"
        type="text"
        placeholder="new todo..."
        (keyup.enter)="addTodo()"
        [(ngModel)]="todoTitle"
        required
      />
      <button
        mat-icon-button
        (click)="addTodo()"
        [disabled]="!this.todoTitle.trim()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </li>
    <li
      *ngFor="let todo of transformedTodos$ | async; trackBy: trackById"
      class="todo-list__item"
    >
      <app-todo-item [todo]="todo"></app-todo-item>
    </li>
  </ul>

  <ng-container *ngIf="restTodos$ | async as restTodos">
    <ul
      *ngIf="restTodos.length > 0"
      class="todo-list"
      style="margin-top: 32px"
      [@listAnimation]="restTodos.length"
    >
      <li
        *ngFor="let todo of restTodos; trackBy: trackById"
        class="todo-list__item"
      >
        <app-todo-item [todo]="todo"></app-todo-item>
      </li>
    </ul>
  </ng-container>

  <ng-template #notFound>
    <div i18n="@@noTodos" style="text-align: center">No todos found.</div>
  </ng-template>
</div>
