.sidenav {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;

  width: 0px;
  padding: 0;
  z-index: 50;
  overflow: hidden;
  box-shadow: 1px 0px;

  background-color: var(--main-color);

  transition: all 0.5s ease;
  transition-property: width, padding;
}

.sidenav > * {
  width: 100%;
}

.open {
  max-width: 100vw;
  width: 200px;

  padding-left: 8px;
  padding-right: 8px;
}

.sidenav__header {
  display: flex;
  align-items: center;

  margin-bottom: 8px;
}

.sidenav__title {
  flex: 1;
}
