<div class="container">
  <h1 class="title">{{ title | titlecase }}</h1>
  <app-todo-filter></app-todo-filter>
  <!-- <app-todo-input></app-todo-input> -->
  <app-todo-sorting></app-todo-sorting>
  <app-todo-list class="todo-list" [addInput]="true"></app-todo-list>

  <div class="right-top-corner">
    <button i18n="@@loadTodos" mat-button (click)="loadTodos()">
      load todos
    </button>
    <button
      i18n="Clear button|Clearing todos@@clearTodos"
      mat-button
      (click)="clearTodos()"
    >
      clear todos
    </button>
    <button mat-icon-button style="align-self: flex-end">
      <mat-icon>help</mat-icon>
    </button>
  </div>
</div>
