.title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  margin: auto;
  width: 800px;
  max-width: 100%;
}

.todo-list {
  margin-top: 32px;
  margin-bottom: 32px;
}

.right-top-corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.right-top-corner > * {
  margin-bottom: 4px;
}

.sidenav-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.sidenav-content > * {
  margin-bottom: 16px;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-section > *:first-child {
  margin-bottom: 8px;
}
