<div class="todo-item">
  <input
    class="todo-item__checkbox"
    type="checkbox"
    [(ngModel)]="todo.completed"
  />
  <input
    class="todo-item__title"
    type="text"
    [(ngModel)]="inputTitle"
    [ngClass]="{ completed: todo.completed }"
    [placeholder]="todo.title"
    required
    (blur)="onBlur()"
    (keyup.enter)="el.blur()"
    #el
  />

  <div class="todo-item__btns">
    <button
      mat-icon-button
      onclick="event.stopPropagation()"
      (click)="deleteTodo()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
