<div class="todo-item">
  <app-checkbox
    [value]="todo.completed"
    (valueChange)="todo.completed = $event"
  ></app-checkbox>

  <input
    class="todo-item__title"
    type="text"
    [(ngModel)]="inputTitle"
    [ngClass]="{ completed: todo.completed }"
    [placeholder]="todo.title"
    required
    (blur)="onBlur()"
    (keyup.enter)="el.blur()"
    #el
  />

  <div class="todo-item__btns">
    <button mat-icon-button (click)="deleteTodo()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
