input {
  border: 1px solid black;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
}

select {
  border: 1px solid black;
  font-size: 16px;
  padding: 8px;
  border-radius: 8px;
  background: none;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.filter-container > * {
  margin-bottom: 8px;
}
