<app-group
  class="filter"
  i18n-title="@@filters"
  title="Filters"
  titleSize="12px"
>
  <input
    i18n-placeholder="@@searchQuery"
    class="filter__item"
    type="text"
    placeholder="search query..."
    [(ngModel)]="searchQuery"
    (keyup)="applyFilter()"
  />

  <select
    class="filter__item"
    name="complete"
    id="complete"
    (change)="applyFilter()"
    [(ngModel)]="completeFilter"
  >
    <option i18n="@@msgFilterAll" value="">all</option>
    <option i18n="@@msgFilterCompleted" value="true">completed</option>
    <option i18n="@@msgFilterIncompleted" value="false">incompleted</option>
  </select>

  <mat-chip-list class="chip-list" multiple>
    <mat-chip
      *ngFor="let tag of tags"
      class="chip-list__item"
      color="accent"
      [selected]="this.selectedTags.includes(tag)"
      (click)="onChipClick(tag)"
      >{{ tag }}
    </mat-chip>
  </mat-chip-list>
</app-group>
