<div class="filter">
  <p i18n="@@filters" class="filter__title">Filters</p>
  <input
    i18n-placeholder="@@searchQuery"
    class="filter__item"
    type="text"
    placeholder="search query..."
    [(ngModel)]="searchQuery"
    (keyup)="applyFilter()"
  />
  <select
    class="filter__item"
    name="complete"
    id="complete"
    (change)="applyFilter()"
    [(ngModel)]="completeFilter"
  >
    <option i18n="@@msgFilterAll" value="">all</option>
    <option i18n="@@msgFilterCompleted" value="true">completed</option>
    <option i18n="@@msgFilterIncompleted" value="false">incompleted</option>
  </select>
</div>
