* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode,
body.dark-mode input,
body.dark-mode select {
  --main-color: #2d3436;
  --second-color: #dfe6e9;

  background-color: var(--main-color);
  color: var(--second-color);
}

body.light-mode,
body.light-mode input,
body.light-mode select {
  --main-color: #dfe6e9;
  --second-color: #2d3436;

  background-color: var(--main-color);
  color: var(--second-color);
}
